

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
       url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
       url("fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff") format("woff2"),
       url("fonts/Inter-Bold.woff") format("woff")
}

.page { 
  margin: 0;
  font-family: 'Inter';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
}

/*header*/
.header {
  max-width: 100%;
  max-height: 52px;
  margin: 0 48px 56px 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400px;
  font-style: normal;
}

.header__lang-link_ru {
  color: #FFFFFF;
  margin-right: 28px; 
  width: 30px;
  height: 28px;
}

.header__lang-link_en {
  text-decoration: none;
  color: #FFFFFF;
  width: 29px;
  height: 28px;
}



@media (min-width: 769px) and (max-width: 1024px) {
  .header {
  margin: 0 48px 56px 48px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {
  margin: 0 24px 56px 24px;
  }
}

@media  (max-width: 425px) {
  .header {
    max-height: 42px;
    padding-top: 16px;
    margin: 0 16px 56px 16px;
  }
  
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link_ru {
    width: 22px;
    height: 20px;
  }
  
  .header__lang-link_en {
    width: 22px;
    height: 20px;
  }
}

/*lead*/
.lead {
  max-width: 984px;
  margin: 0 auto 92px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-style: bold;
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto auto auto;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  max-width: 640px;
  margin: 32px auto 64px auto;
  text-align: center;
  color: #FFFFFF;
}

.lead__figure {
  max-width: 984px;
  position: relative;
  margin: 0;
}

.lead__figure-image1 {
  max-width: 100%;
  z-index: 1;
}

.lead__figure-image2 {
  max-width: 95%;
  position: absolute;
  z-index: 2;
  left: 2%;
  top: 12%;
}


.lead__caption {
  margin: 8px auto 0 0;
  max-width: 984px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__figure {
    margin-right: 0;
    margin-left: 0;
  }

  .lead__title {
    font-size: 96px;
    font-weight: 900;
    font-style: bold;
    max-width: 720px;
    margin: 0 auto auto auto;
    text-align: center;
    color: #FFFFFF;
    }

    .lead__subtitle {
      margin: 32px auto 56px auto;
    }
}


@media (min-width: 426px) and (max-width: 767px) {

.lead__figure {
  margin-right: 0;
  margin-left: 0;
}

  .lead {
    margin: 0 auto 88px auto;
}

.lead__title {
  max-width: 288px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  font-style: bold;
  margin: 0 auto auto auto;
  text-align: center;
  color: #FFFFFF;
}

.lead__caption {
  margin: 8px auto 0 24px;

}

}



@media  (max-width: 425px) {
  .lead {
    max-width: 100%;
    margin: 0 auto 86px auto;
}

.lead__figure {
  margin-right: 0;
  margin-left: 0;
}


.lead__title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  font-style: bold;
  max-width: 288px;
  margin: 0 auto auto auto;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  max-width: 288px;
  margin: 16px auto 40px auto;
  text-align: center;
  color: #FFFFFF;
}

.lead__caption {
  margin: 8px auto 0 16px;

}

}
















/*intro//////////*/

.border {
  border: solid red 1px;
}

.intro {
  margin: 0 auto;
  max-width: 984px;
  
 
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-weight: 900;
  font-style: bold;
  font-size: 54px;
  line-height: 58px;
  color:#FFFFFF;
}

.intro__text {
  margin: 40px 0 33px 0;
  
  max-width: 690px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26.08px;
  color: #FFFFFF;
}

.intro__list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 auto;
    max-width: 720px;
   
}
}
@media screen and (max-width: 767px) {
  .intro {
    margin: 0 auto;
    max-width: 288px;
    
}
.intro__title {
  max-width: 280px;
  font-size: 32px;
  line-height: 35px;
 
}

.intro__text {

  max-width: 288px;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}
}





/*photo__grid*/

.fhoto-grid {
  max-width: calc(100% - 96px);
  margin: 92px auto 92px auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.fhoto-grid__item {
  max-width: 100%;
}


@media (min-width: 769px) and (max-width: 1023px) {
  .fhoto-grid {
    max-width: calc(100% - 96px);
    margin: 92px auto 92px auto;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .fhoto-grid {
    max-width: calc(100% - 48px);
    gap: 16px;
    margin: 88x auto 88px auto;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
}

@media  (max-width: 425px) {
  .fhoto-grid {
    max-width: calc(100% - 36px);
    gap: 12px;
    margin: 16px auto 16px auto;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  }
}


/*places новая версия*/


.places {
  margin: 0 auto 92px auto;
  max-width: 984px;
  display: grid;
  gap: 80px;
}

.place{
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: repeat(auto-fit, minmax(460px 1fr));
}

.place__image {
  max-width: 460px;
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}
.place__title {
  margin: 0;
  align-items: end;
  max-width: 460px;
  max-height: 152px;
  grid-column: 1;
  grid-row: 1;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.place__link-coteiner {
  max-width: 484px;
  max-height: 152px;
  grid-column: 2;
  grid-row: 1;
}

.place__link-url{
  margin-bottom: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20.4px;
  color: #FFFFFF;
  letter-spacing: 4px;
}

.place__link {
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.place__link:hover {
  transition: 5s;
  opacity: 0.2;
}

.place__paragraph {
  max-width: 484px;
  grid-column: 2;
  grid-row: 2;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29.34px;
  color: #FFFFFF;
}

.place__paragraph-top {
  margin: 0;
  margin-bottom: 26px;
}


.place__paragraph-bottom {
  margin: 0;
} 

@media (min-width: 1024px) and (max-width: 1279px) {
  .places {
    margin: 0 auto 92px auto;
    max-width: 928px;
  }

  .place{
    display: grid;
    grid-gap: 48px 32px;
    grid-template-columns: repeat(auto-fit, minmax(440px 1fr));
  }
  .place__image {
    max-width: 440px;
  }

  .place__title {
    max-width: 440px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    margin: 0 auto 92px auto;
    max-width: 720px;
    gap: 72px;
  }
 
  .place{
    display: grid;
    grid-gap: 48px 28px;
    grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
  }
  .place__image {
    max-width: 340px;
  }
  .place__title {
    align-items: end;
    max-width: 340px;
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
  }
  .place__paragraph {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26,08px;
    color: #FFFFFF;
  }
  .place__link-url {
    line-height: 12px;
  }

}

@media  (max-width: 767px) {
  .places {
    margin: 0 auto 66px auto;
    max-width: 320px;
    gap: 32px;
  }

  .place{
    display: grid;
    grid-gap: 32px 0;
    grid-template-columns: repeat(auto-fit, minmax(320px 1fr));
  }
  .place__image {
    max-width: 100%;
    grid-column: 1;
    grid-row: 3;
    margin: 0;
  }
  .place__title {
    grid-column: 1;
    grid-row: 1;
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
    margin-right: 16px;
    margin-left: 16px;
  }
  
  .place__link-coteiner {
    max-width: 320px;
    grid-column: 1;
    grid-row: 2;
    margin-right: 16px;
    margin-left: 16px;
  }
  

  .place__paragraph {
    max-width: 288px;
    grid-column: 1;
    grid-row: 4;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26.8px;
    color: #FFFFFF;
    margin-right: 16px;
    margin-left: 16px;
  }
 
}

/*cover*/

.cover {
  max-width: 1184px;
  margin: 0 auto 92px auto;
  position: relative;
  z-index: 0;
}

.cover_background {
  max-width: 100%;
  opacity: 0.5;
}

.cover_background:hover {
  transition: 5s;
  opacity: 0.2;
}


.cove__overlay {
  position: absolute;
  /*top: 30%;
  right: 25%; */
  top: 245px;
  right: 312px;
  bottom: 245px;
  left: 312px;
  z-index: 2;
}

.cover__title {
  text-align: center;
  max-width: 560px;
  margin: 0 auto 32px auto;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.cover__title:hover {
  transition: 5s;
  opacity: 0.2;
}
.cover__subtitle {
  text-align: center;
  margin: 0 auto 0 auto;
  max-width: 360px;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

.cover__subtitle:hover {
  transition: 5s;
  opacity: 0.2;
}

@media (min-width: 1023px) and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    margin: 0 auto 92px auto;
  }
   
  .cove__overlay {
    position: absolute;
    /*top: 30%;
    right: 25%; */
    top: 195px;
    right: 232px;
    bottom: 195px;
    left: 232px;
    z-index: 2;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    max-width: 768px;
    margin: 0 auto 88px auto;
  }

  .cove__overlay {
    position: absolute;
    /*top: 30%;
    right: 25%; */
    top: 115px;
    right: 104px;
    bottom: 115px;
    left: 104px;
    z-index: 2;
  }
 
}

@media  (max-width: 767px) {
  .cover {
    max-width: 320px;
    margin: 0 auto 64px auto;
  }
  
  .cove__overlay {
    position: absolute;
    /*top: 30%;
    right: 25%; */
    top: 33px;
    right: 16px;
    bottom: 33px;
    left: 16px;
    z-index: 2;
  }

  .cover__title {
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px auto;
    
  }
  
  .cover__subtitle {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
  
  }
 
}

/*footer*/
.footer {
  max-width: 1184px;
  margin: 0 auto 0 auto;
  padding-bottom: 24px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 18px;
}

.footer__nav-links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.footer__nav-list {
  margin-right: 18px;
}

.footer__nav-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}




.footer__nav-link:hover {
  transition: 5s;
  opacity: 0.2;
}

.footer__copyright {
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}


@media (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    margin: 0 48px 0 48px;
  }

}

@media (max-width: 1023px) {
  .footer {
    margin: 0 24px 0 24px;
  }
}

@media  (max-width: 767px) {
  .footer__nav {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 310px;

}

.footer__nav-links {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__nav-list {
  margin-bottom: 32px;
}

.footer__copyright {
  margin-top: 16px;
}

.footer__nav-link {
  font-size: 24px;
  line-height: 24px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

}









@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 320px) {
  
}



/*
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2?v=3.15") format("woff2"),
       url("Inter-Thin.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-ThinItalic.woff2?v=3.15") format("woff2"),
       url("Inter-ThinItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLight.woff2?v=3.15") format("woff2"),
       url("Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("Inter-ExtraLightItalic.woff2?v=3.15") format("woff2"),
       url("Inter-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-Light.woff2?v=3.15") format("woff2"),
       url("Inter-Light.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("Inter-LightItalic.woff2?v=3.15") format("woff2"),
       url("Inter-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.15") format("woff2"),
       url("Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff2?v=3.15") format("woff2"),
       url("Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.woff2?v=3.15") format("woff2"),
       url("Inter-Medium.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-MediumItalic.woff2?v=3.15") format("woff2"),
       url("Inter-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBold.woff2?v=3.15") format("woff2"),
       url("Inter-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
       url("Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.15") format("woff2"),
       url("Inter-Bold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.woff2?v=3.15") format("woff2"),
       url("Inter-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.15") format("woff2"),
       url("Inter-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
       url("Inter-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/Inter-Black.woff2") format("woff2"),
       url("fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.woff2?v=3.15") format("woff2"),
       url("Inter-BlackItalic.woff?v=3.15") format("woff");
}
*/
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
/*
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("Inter-italic.var.woff2?v=3.15") format("woff2");
}

*/
