.header__lang-link_en {
    text-decoration: none;
    color: #FFFFFF;
    width: 29px;
    height: 28px;
  }

  @media  (max-width: 425px) {
    .header__lang-link_en {
      width: 22px;
      height: 20px;
    }
  }