.lead {
    max-width: 984px;
    margin: 0 auto 92px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  
  
  @media (min-width: 426px) and (max-width: 767px) {
    .lead {
      margin: 0 auto 88px auto;
    }
  }
  
  
  
  @media  (max-width: 425px) {
    .lead {
      max-width: 100%;
      margin: 0 auto 86px auto;
    }
  }
