.place__link-url{
    margin: 0 0 12 0;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 20.4px;
    color: #FFFFFF;
    letter-spacing: 4px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .place__link-url {
      line-height: 12px;
    }
  }