.place__paragraph-container {
    max-width: 484px;
    grid-column: 2;
    grid-row: 2;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29.34px;
    color: #FFFFFF;
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph-container {
      font-size: 16px;
      line-height: 26,08px;
    }
  }
  
  @media  (max-width: 660px) {
    .place__paragraph-container {
      max-width: 288px;
      grid-column: 1;
      grid-row: 4;
      font-size: 16px;
      line-height: 26.8px;
      margin-right: 16px;
      margin-left: 16px;
    }
  }
  
  
  
  
  
  