
  .intro__text {
    margin: 40px 0 33px 0;
    max-width: 690px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26.08px;
    color: #FFFFFF;
  }

  @media screen and (max-width: 767px) {
  .intro__text {
    max-width: 100%;
    line-height: 163%;
   
  }
  }
  