.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 18px;
  }

  @media  (max-width: 767px) {
.footer__nav {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-height: 310px;
  }
}