.cover__overlay  {
  background-image: linear-gradient(rgba(42, 44, 47, 30%), rgba(42, 44, 47, 30%)), url(../../../images/cover-trains.jpg);
  max-width: 100%;
  min-height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1024px) { 
  .cover__overlay {
    min-height: 640px;
  }
}


@media (max-width: 768px) { 
  .cover__overlay {
    min-height: 480px; 
  }
}
  
@media (max-width: 425px) { 
  .cover__overlay {
    min-height: 200px;
  }
}
  
.cover__overlay:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 80%), rgba(42, 44, 47, 80%)), url(../../../images/cover-trains.jpg);
}
