.fhoto-grid {
    max-width: calc(100% - 96px);
    margin: 92px auto 92px auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  }

  @media (min-width: 769px) and (max-width: 1023px) {
    .fhoto-grid {
      gap: 14px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  @media (min-width: 426px) and (max-width: 768px) {
    .fhoto-grid {
      max-width: calc(100% - 48px);
      margin: 88px auto 88px auto;
      grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }
  }
  
  @media  (max-width: 425px) {
    .fhoto-grid {
      max-width: calc(100% - 36px);
      gap: 12px;
      margin: 64px auto 16px auto;
      grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    }
  }
  